
html
  head
    title|ocket.IO chat
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; display:inline-block;text-align: center; margin:0 auto;width:100%;height:100%;}
      #main {padding : 0px 25%;text-align: left; overflow:auto;}
      #messages { list-style-type: none; margin: 0; padding: 0; height:90%; display:inline-block; width:100%;}
      #messages li { padding: 5px 10px; font-size:20px;display:}
      #messages li:nth-child(odd) { background: #eee; }
      #main_form {padding : 0px 25%; position:fixed;bottom:0; margin:0 auto;width:100%;}
      form { background: #000; padding: .8%;bottom:0;}
      form input { border: 0; padding: 10px; width: 80%; margin-right: 1%; }
      form button { width: 19%; background: rgb(130, 224, 255); border: none; padding:10px; }
    
  
  body
    div(id='main')
      ul(id="messages")
    div(id="main_form")
      form(action="" )
        input(id="m" autocomplete="off")
        button Send
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="/socket.io/socket.io.js")
script.
  var start_msg = ''
  $( function () {
    //- $.post('./loadmsg',{},function(result){
    //-   console.log(result)
    //-   for(var i=0;i<result.length;i++){
    //-     if(i == (result.length -1) ){
    //-       start_msg = result[i].inputtime
    //-     }
    //-     var msg = `${result[i].name} : ${result[i].message}`
    //-     $('#messages')[0].prepend($('<li>').text(msg)[0])
    //-   }
    //- })
    //- $('#main').scroll(function(){
    //-   if($('#main').scrollTop()==0){
    //-     $.post('/loadmsg',{inputtime : start_msg},function(result){
    //-       console.log(result)
    //-       for(var i=0;i<result.length;i++){
    //-         if(i == (result.length -1) ){
    //-           start_msg = result[i].inputtime
    //-         }
    //-         var msg = `${result[i].name} : ${result[i].message}`
    //-         $('#messages')[0].prepend($('<li>').text(msg)[0])
    //-       }
    //-     })
    //-   }
    //- })
    if(#{random}){
      var socket = io('#{nsp}');
    }else{
      var socket = io();
    }
    socket.emit('welcome chat','#{nickName}')
    $('form').submit(function(){
      if($('#m')[0].value.trim() != ""){      
        socket.emit('chat message', $('#m').val());
      }
        $('#m').val('');
        return false;
      
    });
    socket.on('chat message',function(msg){
        $('#messages').append($('<li>').text(msg))
        $('#main')[0].scrollTop = $('#main')[0].scrollHeight
    })
  });

    


    
  
